html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-size: 0.6rem;
}

h1 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    background-color: #f0f0f0;
    padding: 0 1.875rem;
}

.container {
    max-width: 50rem;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-top: 0;
}

.accordion {
    margin: 0 auto;
    margin: 0;
    padding: 0;
}

.accordion__item {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-top: 0.25rem solid rgb(194, 225, 235);
    list-style: none;
    height: 2.5rem;
    background-color:#f0f0f0;
    transition: height 0.3s ease-in-out;
}

.accordion__header {
    display: block;
    margin: 0;
    padding: 0;
    height: 2.5rem;
    line-height: normal;
    border-top: #f0f0f0 0.0625rem solid;
    font-family: Arial, sans-serif;
    color: #6d63f8;
    cursor: pointer;
}

.accordion__memes {
    max-width: 25rem;
    margin: 0;
    overflow: auto;
    padding: 0.625rem;
    height: 34.375rem;
}

.memes1 {
    margin: 0 auto;
    background: url(./assets/memes/06.jpg) no-repeat;
    background-size: contain;
}

.memes2 {
    margin: 0 auto;
    background: url(./assets/memes/05.jpg) no-repeat;
    background-size: contain;
}

.memes3 {
    margin: 0 auto;
    background: url(./assets/memes/03.jpg) no-repeat;
    background-size: contain;
}

.memes4 {
    margin: 0 auto;
    background: url(./assets/memes/01.jpg) no-repeat;
    background-size: contain;
}

.slice {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.accordion__icon {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0;
    background-image: url(./assets/icon.png);
    background-repeat:  no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.accordion__item:target .accordion__icon {
    transform: none;
    transition: transform 0.3s ease-in-out;
}

.accordion__item:target {
    height: 70vw;
    max-height: 22rem;
}

.accordion__item:target h3 {
    color: #000000;
}

.accordion__item:active .accordion__memes  {
    opacity: 0.33;
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}

@media (min-width: 319px) {
    body {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.2rem;
    }
}

@media (min-width: 819px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: inherit;
    }

    .accordion__item:target {
        height: 45vw;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: inherit;
    }

    .accordion__item:target {
        height: 22rem;
    }


    .accordion__icon {
        visibility: hidden;
    }
}

@media (hover: hover) {
    .accordion__item:hover .accordion__icon {
        transform: none;
        transition: transform 0.3s ease-in-out;
    }

    .accordion:hover h3 {
        color: rgb(0, 0, 0);
    }

    .accordion__item:hover h3 {
        color: #000000;
    }

    .accordion__item:hover {
        height: 22rem;
    }
    .accordion:hover .accordion__icon {
        visibility: visible;
    }
}