html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-size: 0.8rem;
}

h1 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    background-color: #f0f0f0;
    padding: 0 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-top: 0;
}

.accordion {
    margin: 0 auto;
    margin: 0;
    padding: 0;
}

.accordion__item {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-top: 4px solid rgb(194, 225, 235);
    list-style: none;
    height: 40px;
    background-color:#f0f0f0;
    transition: height 0.3s ease-in-out;
}

.accordion__header {
    display: block;
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: normal;
    border-top: #f0f0f0 1px solid;
    font-family: Arial, sans-serif;
    color: #000;
    cursor: pointer;
}

.accordion__memes {
    max-width: 400px;
    margin: 0;
    overflow: auto;
    padding: 10px;
    height: 550px;
}

.memes1 {
    margin: 0 auto;
    background: url(./assets/memes/06.jpg) no-repeat;
    background-size: contain;
}

.memes2 {
    margin: 0 auto;
    background: url(./assets/memes/05.jpg) no-repeat;
    background-size: contain;
}

.memes3 {
    margin: 0 auto;
    background: url(./assets/memes/03.jpg) no-repeat;
    background-size: contain;
}

.memes4 {
    margin: 0 auto;
    background: url(./assets/memes/01.jpg) no-repeat;
    background-size: contain;
}

.slice {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.accordion__icon {
    height: 40px;
    width: 40px;
    margin: 0px;
    background-image: url(./assets/icon.png);
    background-repeat:  no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.accordion__item:target .accordion__icon {
    transform: none;
    transition: transform 0.3s ease-in-out;
}

.accordion__item:target {
    height: 70vw;
}

@media (min-width: 819px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: inherit;
    }

    .accordion__item:target {
        height: 45vw;
    }


}

@media (min-width: 1000px) {
    .accordion__item:hover .accordion__icon {
        transform: none;
        transition: transform 0.3s ease-in-out;
    }

    .accordion:hover h3 {
        color: red;
    }

    .accordion__item:hover h3 {
        color: #38b0f5;
    }

    .accordion__item:hover {
        height: 35vw;
    }

    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: inherit;
    }

    .accordion__item:target {
        height: 35vw;
    }

    .accordion__item:active .accordion__memes  {
        opacity: 0.33;
        transform: rotate(360deg);
        transition: transform 1s ease-in-out;
    }

    .accordion__icon {
        visibility: hidden;
    }

    .accordion:hover .accordion__icon {
        visibility: visible;
    }


}





/* .first:not(:target) {
    height: 350px;
}

.first:target {
    height: 40px;
} */